.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  padding: 7% 4% 0 4%;
}

.root {
  flex-grow: 1;
}

.grow {
  flex-grow: 1;
}

.auth {
  padding: 5%;
}

.button {
  margin-top: 2% !important;
}

.avatar {
  margin: 10;
  width: 60;
  height: 60;
}

.drawerList {
  width: 250px;
}

.logoAuth {
  width: 150px;
  margin-top: 5px;
}

.logoMenu {
  width: 125px;
}

.fab {
  position: absolute !important;
  bottom: 5%;
  right: 2%;
}

.buttonForm {
  margin-top: 20px !important;
}

.marginTabs {
  margin: 1% 0 3% 0;
}

.chipsPositions {
  display: flex;
  flex-wrap: wrap;
}

.pointer {
  cursor: pointer;
}

.labelsRadios {
  margin-top: 20px;
}

.text-left {
  text-align: left !important;
}

.list-records {
  list-style: none;
  font-size: 12px;
  padding-left: 2%;
  text-align: left;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  background-color: rgb(153, 153, 153, 0.1);
  border-radius: 5px;
  padding: 1px 1.5px;
}

.telephone-client {
  font-size: 16px;
  font-weight: normal;
}

.telephone-company {
  font-size: 14px;
  font-weight: normal;
}
